form.fv {
	--fv-background-default: #c2f8ff8c;
	--fv-background-success: #08a2fc8c;
	--fv-background-warning: #ffae008f;
	--fv-background-error: #e70f0fa4;
}

form.fv input,
form.fv select,
form.fv textarea {
	padding: 0.5em 0.5em;
	border: solid 1px var(--fv-background-default);
	outline: solid 1px var(--fv-background-default);
	box-shadow: 0 0 1px 1px var(--fv-background-default);
}
form.fv input.success,
form.fv select.success,
form.fv textarea.success {
	border: solid 1px var(--fv-background-success) !important;
	box-shadow: 0 0 3px var(--fv-background-success) !important;
}
form.fv input.warning,
form.fv select.warning,
form.fv textarea.warning {
	border: solid 1px var(--fv-background-warning) !important;
	box-shadow: 0 0 3px var(--fv-background-warning) !important;
}
form.fv input.error,
form.fv select.error,
form.fv textarea.error {
	border: solid 1px var(--fv-background-error) !important;
	box-shadow: 0 0 3px var(--fv-background-error) !important;
}

form.fv input:focus,
form.fv select:focus,
form.fv textarea:focus {
	border: solid 1px var(--fv-background-default) !important;
	outline: solid 2px var(--fv-background-default) !important;
	box-shadow: 0 0 5px var(--fv-background-default) !important;
}
form.fv input.success:focus,
form.fv select.success:focus,
form.fv textarea.success:focus {
	border: solid 1px var(--fv-background-success) !important;
	outline: solid 1px var(--fv-background-success) !important;
	box-shadow: 0 0 7px var(--fv-background-success) !important;
}
form.fv input.warning:focus,
form.fv select.warning:focus,
form.fv textarea.warning:focus {
	border: solid 1px var(--fv-background-warning) !important;
	outline: solid 1px var(--fv-background-warning) !important;
	box-shadow: 0 0 7px var(--fv-background-warning) !important;
}
form.fv input.error:focus,
form.fv select.error:focus,
form.fv textarea.error:focus {
	border: solid 1px var(--fv-background-error) !important;
	outline: solid 1px var(--fv-background-error) !important;
	box-shadow: 0 0 7px var(--fv-background-error) !important;
}

.fv-message-label {
	display: none;
	justify-content: flex-start;
	align-items: center;
	margin: 2px 0;
	padding: 2px 5px;
	font-size: 12px;
	font-style: italic;
	border-radius: 3px;
	background-color: red !important;
}
.fv-message-label.success {
	display: flex;
	color: white;
	background-color: var(--fv-background-success) !important;
}
.fv-message-label.warning {
	display: flex;
	color: black;
	background-color: var(--fv-background-warning) !important;
}
.fv-message-label.error {
	display: flex;
	color: white;
	background-color: var(--fv-background-error) !important;
}
.fv .validation-submit-entry:disabled {
	color: white;
	background-color: gray;
}
