@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

:root {
	--background-default: #c2e5f08c;
	--background-success: #4ccf008c;
	--background-warning: #ffae008f;
	--background-error: #ca2525a4;

	--button-background-disabled: #afafafcc;
	--button-background-default: #c2e5f0cc;
	--button-background-success: #4ccf00cc;
	--button-background-warning: #ffae00cc;
	--button-background-error: #ca2525cc;
	--button-background-default-hilight: #c2e5f0;
	--button-background-success-hilight: #4ccf00;
	--button-background-warning-hilight: #ffae00;
	--button-background-error-hilight: #ca2525;
}

* {
	font-family: 'Montserrat', 'Ubuntu', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('/images/bg.jpg') fixed no-repeat;
	background-size: cover;
	background-position: center;
}

a,
a:link {
	text-decoration: none;
	color: #0094cf;
}

a:hover,
a:active {
	color: #ca2525;
}

a:visited {
	color: #0076a5;
}

.form-container {
	padding: 3em;
	max-width: min(600px, 97%);
	min-height: 400px;
	border-radius: 1em;
	background-color: #eeeeee90;
}

.message-label {
	display: none;
	justify-content: flex-start;
	align-items: center;
	margin: 2px 0 0.7em 0;
	padding: 2px 5px;
	font-size: 12px;
	font-style: italic;
	border-radius: 3px;
}
.message-label.success {
	display: flex;
	color: white;
	background-color: var(--background-success);
}
.message-label.warning {
	display: flex;
	color: black;
	background-color: var(--background-warning);
}
.message-label.error {
	display: flex;
	color: white;
	background-color: var(--background-error);
}

.input-block {
	margin: 0.7em 0;
}

.command-block {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 1em;
	padding: 0.5 0em;
}
.command-block-info {
	padding: 0.5em;
	color: #222;
}
.info-label {
	font-size: 12px;
	font-style: italic;
}
.button-group {
	display: flex;
	justify-content: space-between;
	width: max-content !important;
}

form .form-title {
	margin-bottom: 0.5em;
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
}

form label {
	margin-bottom: 7px;
	text-shadow: 0 0 3px #ffffff80;
}

form textarea {
	min-height: 7em;
	resize: vertical;
}

form input,
form select,
form textarea {
	font-size: 20px;
	padding: 0.4em 0.7em;
	width: 100%;
	border-radius: 5px;
	border: solid 1px var(--background-default);
	outline: solid 1px var(--background-default);
	box-shadow: 0 0 2px 2px var(--background-default);
}
form input.success,
form select.success,
form textarea.success {
	border: solid 1px var(--background-success) !important;
	box-shadow: 0 0 3px var(--background-success) !important;
}
form input.warning,
form select.warning,
form textarea.warning {
	border: solid 1px var(--background-warning) !important;
	box-shadow: 0 0 3px var(--background-warning) !important;
}
form input.error,
form select.error,
form textarea.error {
	border: solid 1px var(--background-error) !important;
	box-shadow: 0 0 3px var(--background-error) !important;
}

form input:focus,
form select:focus,
form textarea:focus {
	border: solid 1px var(--background-default) !important;
	outline: solid 2px var(--background-default) !important;
	box-shadow: 0 0 5px var(--background-default) !important;
}
form input.success:focus,
form select.success:focus,
form textarea.success:focus {
	border: solid 1px var(--background-success) !important;
	outline: solid 1px var(--background-success) !important;
	box-shadow: 0 0 7px var(--background-success) !important;
}
form input.warning:focus,
form select.warning:focus,
form textarea.warning:focus {
	border: solid 1px var(--background-warning) !important;
	outline: solid 1px var(--background-warning) !important;
	box-shadow: 0 0 7px var(--background-warning) !important;
}
form input.error:focus,
form select.error:focus,
form textarea.error:focus {
	border: solid 1px var(--background-error) !important;
	outline: solid 1px var(--background-error) !important;
	box-shadow: 0 0 7px var(--background-error) !important;
}

form button {
	margin: auto;
	padding: 0.5em;
	border-radius: 0.5em;
	cursor: pointer;
}
form button + button {
	margin-left: 0.3em;
}

form button.btn-success {
	border: solid 1px var(--button-background-success) !important;
	box-shadow: 0 0 3px var(--button-background-success) !important;
	background-color: var(--button-background-success) !important;
}

form button.btn-warning {
	border: solid 1px var(--button-background-warning) !important;
	box-shadow: 0 0 3px var(--button-background-warning) !important;
	background-color: var(--button-background-warning) !important;
}

form button.btn-error {
	border: solid 1px var(--button-background-error) !important;
	box-shadow: 0 0 3px var(--button-background-error) !important;
	background-color: var(--button-background-error) !important;
}

form button.btn-success:hover :not(:disabled),
form button.btn-success:focus :not(:disabled) {
	border: solid 1px var(--button-background-success-hilight) !important;
	outline: solid 1px var(--button-background-success) !important;
	box-shadow: 0 0 3px var(--button-background-success-hilight) !important;
	background-color: var(--button-background-success-hilight) !important;
}

form button.btn-warning:hover :not(:disabled),
form button.btn-warning:focus :not(:disabled) {
	border: solid 1px var(--button-background-warning-hilight) !important;
	outline: solid 1px var(--button-background-warning) !important;
	box-shadow: 0 0 3px var(--button-background-warning-hilight) !important;
	background-color: var(--button-background-warning-hilight) !important;
}

form button.btn-error:hover :not(:disabled),
form button.btn-error:focus :not(:disabled) {
	border: solid 1px var(--button-background-error-hilight) !important;
	outline: solid 1px var(--button-background-error) !important;
	box-shadow: 0 0 3px var(--button-background-error-hilight) !important;
	background-color: var(--button-background-error-hilight) !important;
}

form button:disabled {
	border: solid 1px var(--button-background-disabled) !important;
	box-shadow: 0 0 3px var(--button-background-disabled) !important;
	background-color: var(--button-background-disabled) !important;
	cursor: default !important;
}
